<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>ALL USERS</h1>

    <table>

        <tr>
            <th> First name</th>
            <th> Last name</th>
            <th> Email</th>
            <th> Created at</th>
        </tr>
        {% for user in users: %}
        <tr>
            <td>{{user['firstname']}}</td>
            <td>{{user['lastname']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['createdAt']}}</td>


    </table>
        {% endfor %}

    <a href="/user/new"> Add a New User</a>
</body>

</html>